server/node_modules
server/package-lock.json
Dockerfile
server/.gitignore
.dockerignore
client/node_modules
client/build
client/README.md
client/.gitignore
client/yarn.lock
client/package-lock.json
.DS_Store